$width-max: 1088px;
$width-xlarge: 960px;
$width-large: 768px;
$width-medium: 480px;
$width-small: 599px;
$width-xsmall: 479px;

$border-radius: 4px;

$primary-color: #6772e5;
$primary-color__hover: #7795f8;

$secondary-color: #2ebf91;

$dark-background: #252525;

$divider-shadow: #e2e2e2;
$divider-shadow-dark: #424242;

$dark-class: dark;

body {
  background-color: #eff2f5;

  &.#{$dark-class} {
    background-color: $dark-background;
  }
}

hr {
  height: 2px;
  background-color: $divider-shadow;

  .#{$dark-class} & {
    background-color: $divider-shadow-dark;
  }
}

pre[class*="language-"] {
  border-radius: 0.3em;

  code {
    white-space: pre-wrap;
  }
}

.post {
  text-align: left;

  &__date {
    text-align: left;
    color: rgba(0, 0, 0, 0.66);
    font-weight: 400;
    font-size: 20px;

    .#{$dark-class} & {
      color: white;
    }
  }

  &__content {
    color: black;

    .#{$dark-class} & {
      color: white;
    }
  }

  h2 {
    margin-top: 3rem;
  }

  p,
  li {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.1rem;
    line-height: 1.6em;
  }

  :not(h2) > a {
    color: $primary-color;
    border-bottom: 1px solid $primary-color;
    padding-bottom: 1px;

    &:hover {
      color: $primary-color__hover;
      border-bottom: 2px solid;
    }
  }
}

.tag {
  align-items: center;
  font-size: 10px;
  background-color: #f5f5f5;
  border-radius: $border-radius;
  padding: 0 5px;
  color: #4a4a4a;
  display: inline-flex;
  height: 1.25rem;
  margin-left: 5px;

  .#{$dark-class} & {
    color: white;
    background-color: #424242;
  }
}

.paper {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: $border-radius;
  background-color: white;
  overflow: hidden;
  position: relative;
  padding: 40px;
}

.read-time {
  font-weight: 600;
  font-size: 15px;
}

.dot-divider {
  padding-right: 0.3em;
  padding-left: 0.3em;

  &::after {
    content: "\00B7";
  }
}

.tooltip {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: $border-radius;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: 15px;

  .#{$dark-class} & {
    background-color: white;
    color: black;
  }
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;

  .#{$dark-class} & {
    border-color: white transparent transparent transparent;
  }
}

.link-button {
  $link-button__height: 40px;

  background-color: $primary-color;
  color: white;
  text-decoration: none;
  display: inline-flex;
  border-radius: $border-radius;
  font-size: 15px;
  height: $link-button__height;
  line-height: 40px;
  padding: 0 15px;
  margin: 5px 10px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: transform 0.15s ease, box-shadow 0.15s ease,
    background-color 0.15s ease;
  text-transform: uppercase;
  cursor: pointer;

  &:visited {
    color: white;
  }

  &:hover {
    background-color: $primary-color__hover;
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    transform: translateY(-1px);
  }

  &.secondary {
    background-color: white;
    color: $primary-color;

    &:visited {
      color: $primary-color;
    }

    &:hover {
      color: $primary-color__hover;
    }
  }

  &.ghost {
    background-color: transparent;
    color: black;
    box-shadow: none;
    transform: none;

    .#{$dark-class} & {
      color: white;
    }

    &:hover {
      background-color: #f1f1f1;

      .#{$dark-class} & {
        background-color: #424242;
      }
    }
  }

  &.circle {
    border-radius: 50%;
    width: $link-button__height;
    padding: 0;

    svg {
      margin: auto;
      font-size: 20px;
    }
  }

  svg {
    margin-right: 8px;
    display: inline-flex;
    align-self: center;
  }
}

a {
  text-decoration: none;
}

html,
body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gatsby-resp-image-figcaption {
  text-align: center;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}